In [26]:
import pandas as pd

In [27]:
df = pd.read_csv('budget_data.csv')

df

      Date  Profit/Losses
0   Jan-10        1088983
1   Feb-10        -354534
2   Mar-10         276622
3   Apr-10        -728133
4   May-10         852993
..     ...            ...
81  Oct-16        -729004
82  Nov-16        -112209
83  Dec-16         516313
84  Jan-17         607208
85  Feb-17         382539

[86 rows x 2 columns]

In [28]:
net_amount = df['Profit/Losses'].sum()

In [29]:
total_months = df['Date'].nunique()

In [30]:
df['difference'] = df['Profit/Losses'].diff()

In [31]:
average_change = df['difference'].mean()

In [32]:
average_change = round(average_change, 2)

In [33]:
max_increase_index = df['difference'].idxmax()

In [34]:
date_max_increase = df.loc[max_increase_index, 'Date']

In [35]:
amount_max_increase = df.loc[max_increase_index, 'difference']

In [36]:
max_decrease_index = df['difference'].idxmin()

In [37]:
date_max_decrease = df.loc[max_decrease_index, 'Date']

In [38]:
amount_max_decrease = df.loc[max_decrease_index, 'difference']

In [40]:
print("Financial Analysis")
print("----------------------------")
print("Total Months: ", df['Date'].count())
print("Total: $", df['Profit/Losses'].sum())
print("Average Change: $", average_change)
print("Greatest Increase in Profits:", date_max_increase, "( $", amount_max_increase, ")")
print("Greatest Decrease in Profits:", date_max_decrease, "( $", amount_max_decrease, ")")

Financial Analysis
----------------------------
Total Months:  86
Total: $ 22564198
Average Change: $ -8311.11
Greatest Increase in Profits: Aug-16 ( $ 1862002.0 )
Greatest Decrease in Profits: Feb-14 ( $ -1825558.0 )

In [41]:
with open('financial_analysis.txt', 'w') as f:
    f.write("Financial Analysis\n")
    f.write("----------------------------\n")
    f.write("Total Months: {}\n".format(df['Date'].count()))
    f.write("Total: ${}\n".format(df['Profit/Losses'].sum()))
    f.write("Average Change: ${}\n".format(average_change))
    f.write("Greatest Increase in Profits: {} ( ${} )\n".format(date_max_increase, amount_max_increase))
    f.write("Greatest Decrease in Profits: {} ( ${} )\n".format(date_max_decrease, amount_max_decrease))

print("Results exported to financial_analysis.txt")

Results exported to financial_analysis.txt